body{
    margin: 0;
}
#top-row{
/*    display: inline-block;*/
    padding-top: 1%;
    background-color: #e9e9e9;
    background-color: cadetblue;
}
#logo{
/*    display: inline-block;*/
    font-size: 150%;
    margin-left: 2%;
    background-color:antiquewhite;
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "Bookman";
    font-style: oblique;
    font-weight: bold;
/*    margin: 2%;*/
}

#movie-search-field{
    width: 60%;
    font-size: 110%;
}
#movie-search-form{
    display: inline-block;
    margin-left: 2%;
    width: 70%;
    
}
#movie-search-btn{
    display: inline-block;
    font-size: 120%;
    margin-left: 1%;
}




/*************************************/

#main-body{
    margin-top: 1% ;
    width: 100%;
    height: 100%;
}

#siderBar-filters{
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-left: 3%;
    margin-right: 2%;
    float: left;
}
#language-filter-box{ 
    margin: 5%;
}
#language-top-row{ padding: 5% 0%;
color: black;
font-style: oblique;}

#language-filter-box{
    background-color: aliceblue;
    height: auto;
    font-family: "monaco";
    font-weight: bold;
    color: darkblue;

}
.filter-option{
    display: inline-grid;
    border-style: groove;
    border-color: lightgrey;
    border-radius: 6px;
    padding: 2%;
    margin: 2%;    
}
#language-top-row span{
    font-size: 130%;
}

/*********************************************/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#movie-container{
/*    float: right;*/
    display: inline-block;
    background-color: antiquewhite;
    width: 70%;
    height:auto;
}

.movie-title{
    font-size: 110%;margin-top: 5%;font-weight: bold;
}
.movie-attr{
    font-size: 100%;margin-top: 5%;
}
.list-attr{
    font-size: 80%;
    margin-top: 5%;
    word-break: break-all;
}


















